# Environment variables
.env

# Python virtual environment
venv/

# Generated reports & evidence
ai_reports/
evidence/

#donotpush
.log
*~
.*~

# macOS files
.DS_Store

# Python cache
__pycache__/
*.pyc